{% extends 'layout.html'%}

{%block body%}
<!DOCTYPE html>

<body><style>body{color1: rgba(1, 22, 39, 1);
color2: rgba(247, 23, 53, 1);
color3: rgba(65, 234, 212, 1);
color4: rgba(253, 255, 252, 1);
color5: rgba(255, 159, 28, 1);
background-color:  rgba(255, 159, 28, 1);
}


</style>
<div style="color: #FFFF">
	<h1> The Team </h1>
	<p> We have one Expert Programmer, Ishan Jindal, one intermediate programmer, Tumas Rackaitis, and Three first hackathon</p>
	<h2>Ishan's Bio</h2>
		<p>Ishan Jindal is 3rd year PhD student at Wayne state. His PhD research lies somewhere at the intersection of machine learning and high dimensional signal processing. His research interests includes Deep machine learning, computer vision and natural language processing.
</p>
	<h2> Tumas Rackaitis</h2>
		<p> Tumas Rackaitis is a Mathematics and Computer Science Double Major at Oberlin College. Tumas co-founded Oberlin Computer Science and Hackathon Club, which aims to make Computer Science more accessible to members of the local Oberlin Community. He is interested in the intersection of Machine Learning and Blockchain Technologies.</p>
	<h2>Alan Ai</h2>
		<p>Alan Ai is an Information Science major at Cornell University. Around campus, he is also involved as a member of the Cornell Current, Cornell’s premier think tank, as well as the Theta Delta Chi fraternity. In his free time, he likes to play soccer and watch TV shows.
</p>
	<h2>Zakariya Ahmed bio</h2>
	<p> Zakariya Ahmed grew up in Dearborn Heights, Michigan, Zakariya is a graduate of Dearborn High School and Dearborn School of Math Science and Technology. His hobbies include biking, gaming, and math.
</p>
	<h2>Syed's Bio</h2>
		<p>Syed Akbari is a Computer Science major freshman student at the University of Michigan Dearborn. His interests, apart from machine learning and cyber security, include slam poetry, philosophy, Brazilian Jiu Jitsu and biking. </p>
<div>
	</body	>

{%endblock%}