{% extends 'layout.html'%}

{%block body%}
<!DOCTYPE html>
<
<div class="jumbotron text-center">
	<h1> PAPS</h1>
	<p class="lead">Respond to Gun Violence.</p>


</div>

<div class="content text-center ">
	<h1> 	Big Data and Machine Learning</h1>
		<p> New Technologies provide a solution to Data</p>
<div class="container text-center">
  <div class="row">
      <div class="text-center">
      <h5>With 260,000 Data Points </h5>
      <div class="container text-center">Fake Image</div>
      <p>Some text..</p>
      <p>Sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.</p>
      <br>
       <div>
     		<h2>Ambulance Location Optimizer</h2>	
				<p>Find help</p>

		</div>
				<p style="font-size: 100">i hate america</p>


	<div class="mapouter text">
		<div class="gmap_canvas">
			<iframe align="center" width="900" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=detroit&t=&z=11&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
			<a href="https://www.pureblack.de">webdesign: pureblack.de</a></div>

			<style>.mapouter{text-align:center; height:500px;width:600px;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:600px;}</style>

	</div>
	  <h2 >Gun Violence Risk Calculator</h2>

      <h5 >Using Machine Learning and Big Data </h5>
      <div class="container text-center">Fake Image</div>
      <p>Some text..</p>
      <p>Deaths in shooting incidents often happen when a victim is not given the proper treatment in time; death can occur anywhere from seconds to minutes of bleeding out, making it crucial that ambulance stations are optimized around the city to ensure that they reach the scene promptly. In this scenario, an extra few seconds could be the difference between potential resuscitation and death.
		</p>

      <div class = "container text-center">

      	<h2 class = "container text-center">Calculator</h2>
      	<p> Enter Address, Month, Weekday, and City to Calculate Risk!</p>
        <form method="POST" action = "/">
        	<div class="form-group">
			    Address: <input type="text" name="Address">
			    Month: <input type="text" name ="Month" >
			    WeekDay: <input type="text" name="WeekDay">
			    City: <input type="text" name="City">
			</div>
	    <input class="btn btn-primary" type= "submit" value="Calculate!">

		</form>

		<div></div>
			<h3>Output: Address Risk of Shooting:</h3>

		<div style="border: inset;border-width :thick">

			<p style = "font-size: 500">{{result}}</p>
            
     	</div>

    

     	</div>
	</div>
    </div>
  
  </div>
</div>

 <footer>
  <p>Posted by: Tumas Rackaitis</p>
  <p>Contact information: <a href="mailto:someone@example.com">
  someone@example.com</a>.</p>
</footer> 
	
{%endblock%} 
